* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10rem 50rem 10rem;
    grid-template-areas: "header header navbar" "main main main" "footer footer footer";
}

.border {
    border: 1px black solid;
}

header {
    grid-area: header;
    background-color: brown;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}

nav {
    background-color: cyan;
    grid-area: navbar;
}

main {
    grid-area: main;
    background-color: darkorchid;
}

footer {
    grid-area: footer;
    background-color: darkgoldenrod;
}